Source: ~#PKGNAME#~
Maintainer: Tecnick.com <info@tecnick.com>
Section: utils
Priority: optional
Build-Depends: debhelper-compat (= 13), dh-golang
Standards-Version: 4.7.2
Homepage: https://github.com/tecnickcom/rndpwd
Vcs-Git: https://github.com/tecnickcom/rndpwd.git
Vcs-Browser: https://github.com/tecnickcom/rndpwd

Package: ~#PKGNAME#~
Provides: rndpwd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Web-Service Random Password Generator
 rndpwd : Web-Service Random Password Generator
