[Unit]
Description=rndpwd service
Documentation=https://github.com/tecnickcom/rndpwd
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/rndpwd
Restart=on-failure
RestartSec=5
StandardOutput=append:/var/log/rndpwd.log
StandardError=append:/var/log/rndpwd.log

# Security hardening options
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
